aiohttp
cowpy
cowsay
cryptg
dnspython
emoji
bs4
gitpython
google-api-python-client
google-auth-oauthlib
googletrans>=2.4.0
google_auth_oauthlib
google_images_download>=2.4.2
google_images_download>=2.7.1
gsearch>=1.6.0
gTTS>=2.0.1
gTTS-token>=1.1.3
hachoir
hastebin.py>=0.2
incremental
lmgtfy
Pillow>=5.3.0
psycopg2
pybase64>=0.4.0
pyfiglet
PyLyrics
python-dotenv
pythonping
pytube
pytz
requests>=2.18.4
speedtest-cli>=2.0.2
spongemock
spotify_token
sqlalchemy>=1.2
telegraph
telethon>=1.6.2
telethon-session-sqlalchemy>=0.2.6
urbandict>=0.5
wikipedia>=1.4.0
youtube-dl
zalgo_text>=0.6
